<ion-content>
  <div class="header backgroundHeaderToggleActivity"
    [ngClass]="toggleActivity == false ? 'backgroundHeaderToggleDisabled' :'backgroundHeaderToggleActivity'">
    <div class="btnHeader">
      <h4>Saldo PicPay</h4>
      <ion-icon class="last-item" name="stats-chart-outline"></ion-icon>
    </div>
    <h2>R$ 0,00 <ion-icon slot="icon-only" slot="end" name="eye"></ion-icon>
    </h2>
    <p>Seu saldo está redendo 100% do CDI</p>

    <div class="buttons">

      <ion-button mode="ios" color="light" shape="round" fill="outline">
        <ion-icon slot="start" name="wallet-outline"> </ion-icon> Adicionar
      </ion-button>
      <ion-button mode="ios" color="light" shape="round" fill="outline">
        <ion-icon slot="start" name="cash-outline"></ion-icon> Retirar
      </ion-button>
    </div>

    <ion-item lines="none">
      <ion-label>Usar saldo ao pagar</ion-label>
      <ion-toggle slot="end" [ngModel]="toggleActivity" (ionChange)="cambio()"></ion-toggle>
    </ion-item>
  </div>
</ion-content>