<ion-content>
  <div class="header">
    <div class="btnHeader">
      <h4>Saldo PicPay</h4>
      <ion-icon class="last-item" name="stats-chart-outline"></ion-icon>
    </div>
    <h2>R$ 0,00 <ion-icon slot="icon-only" slot="end" name="eye"></ion-icon>
    </h2>
    <p>Seu saldo está redendo 100% do CDI</p>

    <div class="buttons">
      <ion-button mode="ios" color="light" shape="round" fill="outline">
        <ion-icon slot="start" name="wallet-outline"> </ion-icon> Adicionar
      </ion-button>
      <ion-button mode="ios" color="light" shape="round" fill="outline">
        <ion-icon slot="start" name="cash-outline"></ion-icon> Retirar
      </ion-button>
    </div>
  </div>

</ion-content>
<!-- 
  <ion-card>
    <ion-card-header>
      <ion-item mode="ios" lines="none">
        <ion-avatar ion-item>
          <img
            src="https://avatars3.githubusercontent.com/u/19806594?s=400&u=2131e63805c7895508e2cb202d83993d98604df9&v=4"
            alt="">
        </ion-avatar>        
      </ion-item>
    </ion-card-header>
    <ion-card-content>
      <ion-item mode="ios" lines="none">
        <ion-label slot="start">
          <ion-icon size="small" slot="start" name="people-outline"></ion-icon>2 horas atrás
        </ion-label>
        <ion-label slot="end">
          <ion-item lines="none">
            <ion-icon size="small" name="heart-outline"></ion-icon>
            <ion-label>30</ion-label>
          </ion-item>
          <ion-item lines="none">
            <ion-icon size="small" name="chatbox-outline"></ion-icon>
            <ion-label>40</ion-label>
          </ion-item>
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content> -->