<ion-header translucent>
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="qr-code-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <div>
        <span class="labelSaldo">Meu saldo</span> <br>
        <span class="saldo">R$ 15.000</span>
      </div>
    </ion-title>

    <ion-buttons slot="primary">
      <ion-button>
        <ion-icon name="gift-outline"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="reader-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab-home">
        <ion-icon name="home-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab-carteira">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Carteira</ion-label>
      </ion-tab-button>

      <ion-tab-button class="pagar" tab="pagar">
        <ion-icon color="primary" name="cash-outline"></ion-icon>
        Pagar
      </ion-tab-button>

      <ion-tab-button tab="tab-notificacao">
        <ion-icon name="notifications-outline"></ion-icon>
        <ion-label>Notificações</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab-ajustes">
        <ion-icon name="settings-outline"></ion-icon>
        <ion-label>Ajustes</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>