<ion-content class="content">
  <div class="logo">
    <img src="../../../assets/picpay-logo.svg" alt="PicPay">
    <div class="title">
      <h4>Envie e receba dinheiro pelo smartphone</h4>
    </div>

    <div class="buttons">
      <ion-button class="btn-login" (click)="openTabs()" color="light" shape="round">Criar minha conta no PicPay!
      </ion-button> <br>
      <span class="btn-cad">
        Já sou cadastrado
      </span>
    </div>
  </div>

</ion-content>
<ion-toolbar>
  <ion-button slot="secondary" fill="clear" size="large" color="light">
    <ion-icon slot="icon-only" slot="end" name="help-circle"></ion-icon>
  </ion-button>
</ion-toolbar>